/********** general **********/
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Open Sans', Verdana, sans-serif;
}
img, textarea {
	max-width:100%;
}
a {
	text-decoration: none;
	color: inherit;
}
ul li{
	list-style-type: none;
}
/***** clearfix *****/
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
/*--------------------------------------------
end boilerplate styles
--------------------------------------------*/
h1{
	font-family: 'Bungee', 'Open Sans', Verdana, sans-serif;
	margin-bottom: 10px;
}
.content{
	margin: 10%;
}
